@charset "utf-8";
/* CSS Document */
*{
	border: 1px solid red !important;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
*{
	font-family: 'Roboto', sans-serif;
}
p{
	padding: 5px;
	margin: 5px;
}
.area{
	width: 100%;
	min-height: 100%;
	padding: 5.5px;
}
audio{
	width: 100%;
}


.box{
	background: tomato;
	margin-top: 200px;
	margin-left: 800px;
	width: 50px;
	height: 50px;
	position: absolute;
}
.btn{
	padding:15px;
	height: 100%;
	text-align: center;
	background: deepskyblue;
}
.btn2{
	padding:15px;
	height: 100%;
	text-align: center;
	background: deepskyblue;
}
.btn3{
	padding:15px;
	height: 100%;
	text-align: center;
	background: deepskyblue;
}
.btn4{
	padding:15px;
	height: 100%;
	text-align: center;
	background: deepskyblue;
}



.row{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-9{
	width: 66.66%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33;
}
.col-11{
	width: 91.66%;
}
.row{
	width: 100%;
}