*{
    color:white;
}
p{
    font-weight:600;
}
h2{
    color: deepskyblue;
    text-weight: bolder;
}
.background{
    background-image: url("http://i2.cdn.turner.com/cnnnext/dam/assets/151125171446-38-poy-2015-restricted-super-169.jpg");
    opacity:0.7;
}
.box1{
  margin-top: 30px;
  background: #6ed3cf;
  padding: 40px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  height: 2em
}
.transition{
    position: relative;
    height .5s,background .25s;
    transition-property: height, background;
    transition-duration: 0.5s, 0.25s;
    transition-timing-function: initial, initial;
    transition-delay: 0s,.5s;


}
.box2{
  margin-top: 30px;
  background: #6ed3cf;
  padding: 50px;
  width: 100%;
  position:fixed;
  top:0%;
  transform: translate(0%, -50%);


  opacity: 0.5;
}
.box3{
  display:none;
  margin-top: 30px;
  background: ;
  padding: 50px;
}
a{
  text-decoration: none;
   -webkit-transition: padding .4s; 
   -moz-transition: padding .4s;
   -o-transition: padding .4s;
   transition: padding .4s;
}


.shadow:hover{
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   transform: rotateY(180deg); 
  
       -webkit-transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;
   transition: all .5s ease-in-out;
}
  
a:hover{
  text-decoration: none;
